

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ListaShop{
  min-width: 1100% !important;
}
.ListaNav{
  min-width: 550% !important;
}
  .dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
  }
  .dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
  }
.navbar-brand{
  display: block;
  width: 10%;
}
.Logo{
  width: 100%;
}

.BloqueTextoCarrusel{
  padding-top: 10%;
  padding-left: 7%;
  padding-right: 25%;
}

.TextoCarrusel{
  width: 270%;
}

.TituloCarrusel{
  font-size: 2.9rem;
}
.BloqueDebajoCarrusel{
  position:relative;
 bottom: 180px;
 width: 60%;
}
.TrendingProducts{
  position: relative;
  bottom: 90px;
}
.NombreProductoLink{
  color: black;
  transition: color 0.5s;
}

.NombreProductoLink:hover{
  color: red !important;
}
.PrecioAnterior{
  font-size: small;
}
.CajasProductos:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.BloqueTextoAnuncio{
  flex-basis: 60%;
}
.BloqueTextoImagenHoodie{
  width: 100%;
}

.LinksPrimerFooter a,.InfoEmail,.InfoSegundoFooter,.LinksSegundoFooter a{
  color: #b6b9bf;
}
.LinksPrimerFooter{
  margin-bottom: 1%;
}

.LinksSegundoFooter{
  margin-right: 3%;
}
.LinksPrimerFooter :hover,.LinksSegundoFooter :hover{
  color: white;

}
.InfoEmail,.InfoSegundoFooter{
  font-size: small;
}
.Apps{
  cursor: pointer;
}

@media(min-width:768px){
  .BloqueTextoImagenHoodie{
      width: 80%;
  }
  .ImagenHoodieHombre{
      margin-top: 60%
  }
  
}

@media (min-width:991px){
  .ImagenHoodieHombre{
      margin-top: 0
  }
}

@media (max-width:991px){
  .ListaShop {
    min-width: 50% !important;
}
.ListaNav{
    min-width: 1% !important;
}
.Logo{
    width: auto;
}
.BloqueTextoCarrusel{
  width: 100%;
  padding: 0;
}
.BloqueDebajoCarrusel{
  position: static;
  width: 100%;
}
.BloqueImagenCarrusel{
  background-size: contain;
}
.TextoCarrusel{
  text-align: center;
  width: auto;
}
.TrendingProducts{
  position: static;
}
}

